
/*@font-face {
  font-family: 'Knewave';
  font-weight: 400;
  font-style: normal;
  src: url('//d2wwthy2zmzhx.cloudfront.net/fonts/knewave-400.eot');
  src: url('//d2wwthy2zmzhx.cloudfront.net/fonts/knewave-400.eot?#iefix') format('embedded-opentype'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/knewave-400.woff2') format('woff2'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/knewave-400.woff') format('woff'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/knewave-400.ttf') format('truetype'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/knewave-400.svg#Knewave') format('svg');
}*/
